-- Create demo_sites table in Supabase
CREATE TABLE demo_sites (
  id TEXT PRIMARY KEY,
  slug TEXT UNIQUE NOT NULL,
  full_url TEXT NOT NULL,
  status TEXT DEFAULT 'active' CHECK (status IN ('active', 'inactive', 'deleted')),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Index for fast slug lookups
CREATE INDEX idx_demo_sites_slug ON demo_sites(slug);
CREATE INDEX idx_demo_sites_status ON demo_sites(status);
